<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dey9mpa39/image/upload/v1671042640/espace%20glisse/level_1_surf_kbnk6v.jpg);">
  <div class="container ">
    <h1>Réserve un cours de <span style="color:#3065ED;">surf / kitesurf / skate / snowboard </span> en 2 clics !</h1>
    <a class="btn btn-flat" href="#">Réserver</a>
  </div>
</div>
