// Espace Glisse colors
$dark-blue: #472183;
$middle-blue: #3065ED;
$light-blue: #B2C3EC;
$vlight-blue: #F1F6F5;
$dark-grey: #747474;
$middle-grey: #D9D9D9;
$light-grey: #F1F1F1;
$black: rgb(46, 46, 46);
