<div class="container">
  <h1 class="mt-4 text-center">Liste des écoles</h1>
  <p class="text-center my-5"><%= link_to "Ajouter mon école", new_school_path, class: "btn btn-grey" %></p>
  <% @schools.each do |school| %>
    <%= render "shared/school-card-index", school: school %>
  <% end %>
</div>
