.scrowl-grey {
  background-color: $light-grey;
  height: 380px;
  text-align: center;
}

.scrowl-white {
  background-color: white;
  height: 380px;
  text-align: center;
}

.scrowl-div {
  height:380px;
}
